In [2]:
#instalação dos componetes
import pandas as pd
import numpy as np
import os
import glob
import re
import gc

# configurando o pandas para não mostrar a notação científica para números
pd.set_option('display.float_format', lambda x: '%.4f' % x)

In [3]:
# configurando para mostrar todas as colunas   
pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth', None)

## Tratamento de dados Rais

#### Importar e agregar dados RAIS 2019

In [4]:
# ## Seleção de colunas para importação. 
cols_name = ['Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'Vl Remun Média Nom', 
            'Vl Remun Média (SM)',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe',
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento',
            'Tipo Estab',
            'Tipo Vínculo',
            'Tipo Admissão'
]

#### Import SUL

In [5]:
# importando dados rais
df_rais_vinculos_sul = pd.read_csv('2019/RAIS_VINC_PUB_SUL.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_sul['ano'] = 2019

# # Reorganizado posição das colunas. 
df_rais_vinculos_sul = df_rais_vinculos_sul[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_sul = df_rais_vinculos_sul[(df_rais_vinculos_sul['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_sul.to_csv('2019/rais_2019/df_rais_vinculos_sul.csv', index=False)

## limpeza de memória
del df_rais_vinculos_sul
gc.collect()

C:\Users\ebteo\AppData\Local\Temp\ipykernel_15472\644838668.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_sul = pd.read_csv('2019/RAIS_VINC_PUB_SUL.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

0

#### Import Nordeste

In [6]:
# importando dados rais
df_rais_vinculos_nordeste = pd.read_csv('2019/RAIS_VINC_PUB_NORDESTE.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_nordeste['ano'] = 2019

## Reorganizado posição das colunas. 
df_rais_vinculos_nordeste = df_rais_vinculos_nordeste[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_nordeste = df_rais_vinculos_nordeste[(df_rais_vinculos_nordeste['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_nordeste.to_csv('2019/rais_2019/df_rais_vinculos_nordeste.csv', index=False)

## limpeza de memória
del df_rais_vinculos_nordeste
gc.collect()

C:\Users\ebteo\AppData\Local\Temp\ipykernel_15472\2631332477.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_nordeste = pd.read_csv('2019/RAIS_VINC_PUB_NORDESTE.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

0

#### Import NORTE

In [7]:
# importando dados rais
df_rais_vinculos_norte = pd.read_csv('2019/RAIS_VINC_PUB_NORTE.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_norte['ano'] = 2019

## Reorganizado posição das colunas. 
df_rais_vinculos_norte = df_rais_vinculos_norte[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_norte = df_rais_vinculos_norte[(df_rais_vinculos_norte['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_norte.to_csv('2019/rais_2019/df_rais_vinculos_norte.csv', index=False)

## limpeza de memória
del df_rais_vinculos_norte
gc.collect()

C:\Users\ebteo\AppData\Local\Temp\ipykernel_15472\4048718070.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_norte = pd.read_csv('2019/RAIS_VINC_PUB_NORTE.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

0

#### Import MG, ES e RJ.

In [8]:
# importando dados rais
df_rais_vinculos_mg_es_rj = pd.read_csv('2019/RAIS_VINC_PUB_MG_ES_RJ.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_mg_es_rj['ano'] = 2019

## Reorganizado posição das colunas. 
df_rais_vinculos_mg_es_rj = df_rais_vinculos_mg_es_rj[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_mg_es_rj = df_rais_vinculos_mg_es_rj[(df_rais_vinculos_mg_es_rj['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_mg_es_rj.to_csv('2019/rais_2019/df_rais_vinculos_mg_es_rj.csv', index=False)

## limpeza de memória
del df_rais_vinculos_mg_es_rj
gc.collect()

C:\Users\ebteo\AppData\Local\Temp\ipykernel_15472\1440659653.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_mg_es_rj = pd.read_csv('2019/RAIS_VINC_PUB_MG_ES_RJ.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

0

#### Import CENTRO_OESTE.

In [9]:
# importando dados rais
df_rais_vinculos_centro_oeste = pd.read_csv('2019/RAIS_VINC_PUB_CENTRO_OESTE.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_centro_oeste['ano'] = 2019

# # Reorganizado posição das colunas. 
df_rais_vinculos_centro_oeste = df_rais_vinculos_centro_oeste[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_centro_oeste = df_rais_vinculos_centro_oeste[(df_rais_vinculos_centro_oeste['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_centro_oeste.to_csv('2019/rais_2019/df_rais_vinculos_centro_oeste.csv', index=False)

## limpeza de memória
del df_rais_vinculos_centro_oeste
gc.collect()

C:\Users\ebteo\AppData\Local\Temp\ipykernel_15472\3891359016.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_centro_oeste = pd.read_csv('2019/RAIS_VINC_PUB_CENTRO_OESTE.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

0

#### Import SP.

In [10]:
# importando dados rais
df_rais_vinculos_sp = pd.read_csv('2019/RAIS_VINC_PUB_SP.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

## Cria coluna ano
df_rais_vinculos_sp['ano'] = 2019

# # Reorganizado posição das colunas. 
df_rais_vinculos_sp = df_rais_vinculos_sp[[
            'ano',
            'Município',
            'Nacionalidade',
            'Raça Cor',
            'Sexo Trabalhador',
            'Idade',
            'Faixa Etária',
            'Escolaridade após 2005',
            'Vínculo Ativo 31/12',
            'CBO Ocupação 2002',
            'CNAE 2.0 Classe', 
            'CNAE 2.0 Subclasse',
            'Natureza Jurídica',
            'Tamanho Estabelecimento', 
            'Tipo Estab',  
            'Tipo Admissão',
            'Tipo Vínculo',
            'Vl Remun Média Nom',
            'Vl Remun Média (SM)' ]]

# Filtrar trabalhadores ativos em 31/12
df_rais_vinculos_sp = df_rais_vinculos_sp[(df_rais_vinculos_sp['Vínculo Ativo 31/12'] == 1)]

## Gera planilha de dados
df_rais_vinculos_sp.to_csv('2019/rais_2019/df_rais_vinculos_sp.csv', index=False)

## limpeza de memória
del df_rais_vinculos_sp
gc.collect()

C:\Users\ebteo\AppData\Local\Temp\ipykernel_15472\1811026417.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_sp = pd.read_csv('2019/RAIS_VINC_PUB_SP.txt', sep=';' , encoding='latin-1', decimal=',', usecols = cols_name)

0

### Agregar planilhas rais 2019

In [11]:
## Agrupar planilhas tratadas
df_rais_vinculos_2019 = pd.concat(
    map(pd.read_csv, glob.glob('2019/rais_2019/df_rais_vinculos_*.csv')),
    ignore_index=True
    )

C:\Users\ebteo\AppData\Local\Temp\ipykernel_15472\1422889457.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_2019 = pd.concat(
C:\Users\ebteo\AppData\Local\Temp\ipykernel_15472\1422889457.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_2019 = pd.concat(
C:\Users\ebteo\AppData\Local\Temp\ipykernel_15472\1422889457.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_2019 = pd.concat(
C:\Users\ebteo\AppData\Local\Temp\ipykernel_15472\1422889457.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_2019 = pd.concat(
C:\Users\ebteo\AppData\Local\Temp\ipykernel_15472\1422889457.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_2019 = pd.concat(
C:\Users\ebteo\AppData\Local\Temp\ipykernel_15472\1422889457.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos_2019 = pd.concat(

In [12]:
### Verificar total de registros
df_rais_vinculos_2019['Município'].count()

46716492

In [15]:
df_rais_vinculos_2019.to_csv('2019/rais_2019/df_rais_total_vinculos_2019.csv', index=False)

In [16]:
## limpeza de memória
del df_rais_vinculos_2019
gc.collect()

299

:

In [12]:
df_rais_vinculos_2019.columns

Index(['Unnamed: 0', 'ano', 'Município', 'Nacionalidade', 'Raça Cor',
       'Sexo Trabalhador', 'Idade', 'Faixa Etária', 'Escolaridade após 2005',
       'Vínculo Ativo 31/12', 'CBO Ocupação 2002', 'CNAE 2.0 Classe',
       'CNAE 2.0 Subclasse', 'Natureza Jurídica', 'Tamanho Estabelecimento',
       'Tipo Estab', 'Tipo Admissão', 'Tipo Vínculo', 'Vl Remun Média Nom',
       'Vl Remun Média (SM)'],
      dtype='object')

### Importar dados tratados

In [3]:
#importando dados rais (alterando tipos de dados para redução de tamanho do dataframe - uso do parâmetro decimail para importar valores numéricos float64)
df_rais_vinculos_2019 = pd.read_csv('2021/rais_2019/df_rais_vinculos_2019.csv', sep=',', decimal=',', usecols=[ 'ano', 'Município', 'Nacionalidade', 'Raça Cor',
       'Sexo Trabalhador', 'Idade', 'Faixa Etária', 'Escolaridade após 2005',
       'Vínculo Ativo 31/12', 'CBO Ocupação 2002', 'CNAE 2.0 Classe',
       'CNAE 2.0 Subclasse', 'Natureza Jurídica', 'Tamanho Estabelecimento',
       'Tipo Estab', 'Tipo Admissão', 'Tipo Vínculo', 'Vl Remun Média Nom',
       'Vl Remun Média (SM)'],
dtype={
'ano': np.string_,  
'Município': np.string_,  
'Nacionalidade': np.uint8,  
'Raça Cor ': np.uint8,  
'Sexo Trabalhador': np.uint8, 
'Idade': np.uint8, 
'Faixa Etária': np.uint8, 
'Escolaridade após 2005': np.uint8,  
'Vínculo Ativo 31/12': np.uint8, 
'CBO Ocupação 2002': np.string_, 
'CNAE 2.0 Classe': np.string_,
'CNAE 2.0 Subclasse': np.string_,  
'Natureza Jurídica': np.int64,  
'Tamanho Estabelecimento': np.uint8,  
'Tipo Estab': np.uint8, 
'Tipo Admissão': np.uint8,  
'Tipo Vínculo': np.uint8
})

In [4]:
df_rais_vinculos_2019.columns = df_rais_vinculos_2019.columns.str.lower().str.replace(' ', '_')

In [5]:
df_rais_vinculos_2019.columns = ['ano', 'cod_munic_ibge_6', 'nacionalidade', 'raça_cor', 'sexo_trabalhador',
       'idade', 'faixa_etária', 'escolaridade_após_2005',
       'vínculo_ativo_31/12', 'cbo_ocupação_2002', 'cnae_2.0_classe',
       'cnae_2.0_subclasse', 'natureza_jurídica', 'tamanho_estabelecimento',
       'tipo_estab', 'tipo_admissão', 'tipo_vínculo', 'vl_remun_média_nom',
       'vl_remun_média_(sm)']

In [6]:
df_rais_vinculos_2019

,ano,cod_munic_ibge_6,nacionalidade,raça_cor,sexo_trabalhador,idade,faixa_etária,escolaridade_após_2005,vínculo_ativo_31/12,cbo_ocupação_2002,cnae_2.0_classe,cnae_2.0_subclasse,natureza_jurídica,tamanho_estabelecimento,tipo_estab,tipo_admissão,tipo_vínculo,vl_remun_média_nom,vl_remun_média_(sm)
0,2021,500270,10,9,1,33,5,1,1,314410,47890,4789007,2305,2,1,0,10,1685.66,1.52
1,2021,500370,10,9,1,48,6,1,1,715210,47890,4789005,2135,2,1,2,10,1628.0,1.48
2,2021,500630,10,2,1,32,5,1,1,642005,2306,230600,2054,8,1,0,10,1786.83,1.61
3,2021,500270,10,9,1,55,7,1,1,514320,47113,4711302,2305,3,1,1,10,1453.91,1.31
4,2021,500630,10,2,1,42,6,1,1,632125,2306,230600,2054,8,1,2,10,1199.68,1.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48728866,2021,430510,10,2,2,44,6,11,1,231210,85201,8520100,3999,7,1,0,10,6221.21,5.65
48728867,2021,430460,10,2,2,38,5,11,1,223565,86305,8630502,1279,10,1,2,60,5813.67,5.28
48728868,2021,431490,10,2,2,47,6,11,1,239410,85139,8513900,2062,7,1,2,10,6545.96,5.94
48728869,2021,431400,10,99,2,38,5,11,1,131120,84116,8411600,1031,7,1,0,30,2488.23,2.25
48728870,2021,430210,10,2,2,51,7,11,1,225124,86101,8610101,3999,10,1,0,10,7138.28,6.48

In [7]:
# Criar campo uf base vínculos remover último digito codigo IBGE
df_rais_vinculos_2019['cod_uf'] = df_rais_vinculos_2019['cod_munic_ibge_6'].apply(lambda x: x[:-4])
df_rais_vinculos_2019

,ano,cod_munic_ibge_6,nacionalidade,raça_cor,sexo_trabalhador,idade,faixa_etária,escolaridade_após_2005,vínculo_ativo_31/12,cbo_ocupação_2002,cnae_2.0_classe,cnae_2.0_subclasse,natureza_jurídica,tamanho_estabelecimento,tipo_estab,tipo_admissão,tipo_vínculo,vl_remun_média_nom,vl_remun_média_(sm),cod_uf
0,2021,500270,10,9,1,33,5,1,1,314410,47890,4789007,2305,2,1,0,10,1685.66,1.52,50
1,2021,500370,10,9,1,48,6,1,1,715210,47890,4789005,2135,2,1,2,10,1628.0,1.48,50
2,2021,500630,10,2,1,32,5,1,1,642005,2306,230600,2054,8,1,0,10,1786.83,1.61,50
3,2021,500270,10,9,1,55,7,1,1,514320,47113,4711302,2305,3,1,1,10,1453.91,1.31,50
4,2021,500630,10,2,1,42,6,1,1,632125,2306,230600,2054,8,1,2,10,1199.68,1.08,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48728866,2021,430510,10,2,2,44,6,11,1,231210,85201,8520100,3999,7,1,0,10,6221.21,5.65,43
48728867,2021,430460,10,2,2,38,5,11,1,223565,86305,8630502,1279,10,1,2,60,5813.67,5.28,43
48728868,2021,431490,10,2,2,47,6,11,1,239410,85139,8513900,2062,7,1,2,10,6545.96,5.94,43
48728869,2021,431400,10,99,2,38,5,11,1,131120,84116,8411600,1031,7,1,0,30,2488.23,2.25,43
48728870,2021,430210,10,2,2,51,7,11,1,225124,86101,8610101,3999,10,1,0,10,7138.28,6.48,43

In [9]:
df_uf_municipios = pd.read_csv('2021/rais_2019/municipios.csv', sep=',', decimal=',',
dtype={
'cod_munic_ibge_7': np.string_,  
'cod_munic_ibge_6': np.string_
})

df_uf_municipios

,Unnamed: 0,uf,nome_uf,mesorregião_geográfica,nome_mesorregião,microrregião_geográfica,nome_microrregião,cod_munic_ibge_7,nome_municipio,cod_munic_ibge_6
0,0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1100015,Alta Floresta D'Oeste,110001
1,1,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1100379,Alto Alegre dos Parecis,110037
2,2,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,1100403,Alto Paraíso,110040
3,3,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,1100346,Alvorada D'Oeste,110034
4,4,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,1100023,Ariquemes,110002
...,...,...,...,...,...,...,...,...,...,...
5565,5565,52,Goiás,5,Sul Goiano,16,Pires do Rio,5222005,Vianópolis,522200
5566,5566,52,Goiás,5,Sul Goiano,15,Meia Ponte,5222054,Vicentinópolis,522205
5567,5567,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,5222203,Vila Boa,522220
5568,5568,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,5222302,Vila Propício,522230
5569,5569,53,Distrito Federal,1,Distrito Federal,1,Brasília,5300108,Brasília,530010

In [10]:
df_uf_municipios.drop(columns=['Unnamed: 0'])

,uf,nome_uf,mesorregião_geográfica,nome_mesorregião,microrregião_geográfica,nome_microrregião,cod_munic_ibge_7,nome_municipio,cod_munic_ibge_6
0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1100015,Alta Floresta D'Oeste,110001
1,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1100379,Alto Alegre dos Parecis,110037
2,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,1100403,Alto Paraíso,110040
3,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,1100346,Alvorada D'Oeste,110034
4,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,1100023,Ariquemes,110002
...,...,...,...,...,...,...,...,...,...
5565,52,Goiás,5,Sul Goiano,16,Pires do Rio,5222005,Vianópolis,522200
5566,52,Goiás,5,Sul Goiano,15,Meia Ponte,5222054,Vicentinópolis,522205
5567,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,5222203,Vila Boa,522220
5568,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,5222302,Vila Propício,522230
5569,53,Distrito Federal,1,Distrito Federal,1,Brasília,5300108,Brasília,530010

In [11]:
df_rais_vinculos_2021.columns

Index(['ano', 'cod_munic_ibge_6', 'nacionalidade', 'raça_cor',
       'sexo_trabalhador', 'idade', 'faixa_etária', 'escolaridade_após_2005',
       'vínculo_ativo_31/12', 'cbo_ocupação_2002', 'cnae_2.0_classe',
       'cnae_2.0_subclasse', 'natureza_jurídica', 'tamanho_estabelecimento',
       'tipo_estab', 'tipo_admissão', 'tipo_vínculo', 'vl_remun_média_nom',
       'vl_remun_média_(sm)', 'cod_uf'],
      dtype='object')

In [12]:
df_groupby_vc_2021 = df_rais_vinculos_2021.groupby(['ano', 'cod_munic_ibge_6', 'cod_uf', 'cbo_ocupação_2002','cnae_2.0_classe']).agg({'ano': ['count']})
df_groupby_vc_2021.columns = ['vc_2021']
df_groupby_vc_2021 = df_groupby_vc_2021.reset_index()
df_groupby_vc_2021

,ano,cod_munic_ibge_6,cod_uf,cbo_ocupação_2002,cnae_2.0_classe,vc_2021
0,2021,110001,11,010105,47717,3
1,2021,110001,11,111220,84116,5
2,2021,110001,11,111410,84116,1
3,2021,110001,11,111415,84116,54
4,2021,110001,11,121005,8100,1
...,...,...,...,...,...,...
5223758,2021,999999,99,214205,42120,2
5223759,2021,999999,99,214250,42120,1
5223760,2021,999999,99,214910,42120,2
5223761,2021,999999,99,314610,42120,1
5223762,2021,999999,99,860105,42120,1

In [15]:
df_groupby_vc_2021['vc_2021'].sum()

48728871

In [16]:
df_groupby_vc_ocup_2021 = df_rais_vinculos_2021.groupby(['ano', 'cod_munic_ibge_6', 'cod_uf', 'cbo_ocupação_2002']).agg({'ano': ['count']})
df_groupby_vc_ocup_2021.columns = ['vc_ocup_2021']
df_groupby_vc_ocup_2021 = df_groupby_vc_ocup_2021.reset_index()
df_groupby_vc_ocup_2021

          ano cod_munic_ibge_6 cod_uf cbo_ocupação_2002  vc_ocup_2021
0        2021           110001     11            010105             3
1        2021           110001     11            111220             5
2        2021           110001     11            111410             1
3        2021           110001     11            111415            54
4        2021           110001     11            121005             1
...       ...              ...    ...               ...           ...
1334380  2021           999999     99            214205             2
1334381  2021           999999     99            214250             1
1334382  2021           999999     99            214910             2
1334383  2021           999999     99            314610             1
1334384  2021           999999     99            860105             1

[1334385 rows x 5 columns]

In [17]:
df_groupby_vc_ocup_2021['vc_ocup_2021'].sum()

48728871

In [18]:
df_groupby_vc_cnae_2021 = df_rais_vinculos_2021.groupby(['ano', 'cod_munic_ibge_6', 'cod_uf','cnae_2.0_classe']).agg({'ano': ['count']})
df_groupby_vc_cnae_2021.columns = ['vc_cnae_2021']
df_groupby_vc_cnae_2021 = df_groupby_vc_cnae_2021.reset_index()
df_groupby_vc_cnae_2021

         ano cod_munic_ibge_6 cod_uf cnae_2.0_classe  vc_cnae_2021
0       2021           110001     11           10112            87
1       2021           110001     11           10660             5
2       2021           110001     11           10911             2
3       2021           110001     11            1113             1
4       2021           110001     11            1342             1
...      ...              ...    ...             ...           ...
466421  2021           530010     53           96092           582
466422  2021           530010     53           97005            19
466423  2021           530010     53           99008          1694
466424  2021           530010     53            9904            73
466425  2021           999999     99           42120            14

[466426 rows x 5 columns]

In [19]:
df_groupby_vc_cnae_2021['vc_cnae_2021'].sum()

48728871

In [20]:
df_groupby_vc_cnae_2021 = df_groupby_vc_cnae_2021.merge(df_uf_municipios, left_on='cod_munic_ibge_6', right_on='cod_munic_ibge_6')
df_groupby_vc_cnae_2021

,ano,cod_munic_ibge_6,cod_uf,cnae_2.0_classe,vc_cnae_2021,Unnamed: 0,uf,nome_uf,mesorregião_geográfica,nome_mesorregião,microrregião_geográfica,nome_microrregião,cod_munic_ibge_7,nome_municipio
0,2021,110001,11,10112,87,0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1100015,Alta Floresta D'Oeste
1,2021,110001,11,10660,5,0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1100015,Alta Floresta D'Oeste
2,2021,110001,11,10911,2,0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1100015,Alta Floresta D'Oeste
3,2021,110001,11,1113,1,0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1100015,Alta Floresta D'Oeste
4,2021,110001,11,1342,1,0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,1100015,Alta Floresta D'Oeste
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466420,2021,530010,53,96033,407,5569,53,Distrito Federal,1,Distrito Federal,1,Brasília,5300108,Brasília
466421,2021,530010,53,96092,582,5569,53,Distrito Federal,1,Distrito Federal,1,Brasília,5300108,Brasília
466422,2021,530010,53,97005,19,5569,53,Distrito Federal,1,Distrito Federal,1,Brasília,5300108,Brasília
466423,2021,530010,53,99008,1694,5569,53,Distrito Federal,1,Distrito Federal,1,Brasília,5300108,Brasília
466424,2021,530010,53,9904,73,5569,53,Distrito Federal,1,Distrito Federal,1,Brasília,5300108,Brasília