In [1]:
#instalação dos componetes
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline
import os
from matplotlib.ticker import FormatStrFormatter
import squarify
import glob
            
# configurando o pandas para não mostrar a notação científica para números
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [4]:
import zipfile 
import py7zr

In [2]:
# configurando para mostrar todas as colunas   
pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth', None)

## Tratamento de dados Rais

In [3]:
df_rais_vinculos = pd.concat(map(pd.read_csv, glob.glob('2020/dados/dados_2020/df_rais_vinculos*.csv')))

C:\Users\ebteo\AppData\Local\Temp\ipykernel_33096\1737431341.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos = pd.concat(map(pd.read_csv, glob.glob('2021/rais_2021/df_rais_vinculos*.csv')))
C:\Users\ebteo\AppData\Local\Temp\ipykernel_33096\1737431341.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos = pd.concat(map(pd.read_csv, glob.glob('2021/rais_2021/df_rais_vinculos*.csv')))
C:\Users\ebteo\AppData\Local\Temp\ipykernel_33096\1737431341.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos = pd.concat(map(pd.read_csv, glob.glob('2021/rais_2021/df_rais_vinculos*.csv')))
C:\Users\ebteo\AppData\Local\Temp\ipykernel_33096\1737431341.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos = pd.concat(map(pd.read_csv, glob.glob('2021/rais_2021/df_rais_vinculos*.csv')))
C:\Users\ebteo\AppData\Local\Temp\ipykernel_33096\1737431341.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos = pd.concat(map(pd.read_csv, glob.glob('2021/rais_2021/df_rais_vinculos*.csv')))
C:\Users\ebteo\AppData\Local\Temp\ipykernel_33096\1737431341.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rais_vinculos = pd.concat(map(pd.read_csv, glob.glob('2021/rais_2021/df_rais_vinculos*.csv')))

In [5]:
df_rais_vinculos.to_csv('2021/rais_2021/df_rais_vinculos_2021.csv')

In [8]:
df_rais_vinculos.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48728871 entries, 0 to 8722448
Data columns (total 24 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Unnamed: 0               int64
 1   Município                int64
 2   IBGE Subsetor            int64
 3   Nacionalidade            int64
 4   Raça Cor                 int64
 5   Sexo Trabalhador         int64
 6   Idade                    int64
 7   Faixa Etária             int64
 8   Escolaridade após 2005   int64
 9   Ind Portador Defic       int64
 10  Vínculo Ativo 31/12      int64
 11  CBO Ocupação 2002        object
 12  CNAE 2.0 Classe          int64
 13  CNAE 2.0 Subclasse       int64
 14  Natureza Jurídica        int64
 15  Tamanho Estabelecimento  int64
 16  Tipo Estab               int64
 17  Faixa Remun Média (SM)   int64
 18  Tipo Admissão            int64
 19  Tipo Vínculo             int64
 20  Ind Trab Intermitente    int64
 21  Ind Trab Parcial         int64
 22  Vl Remun Média Nom       float64
 23  Vl Remun Média (SM)      float64
dtypes: float64(2), int64(21), object(1)
memory usage: 11.3 GB

In [10]:
## Seleção de colunas para importação. 
cols_name_int = [ 'Vínculo Ativo 31/12',
'Faixa Remun Média (SM)',
'Escolaridade após 2005',
'Ind Portador Defic',
'Raça Cor',
'Sexo Trabalhador',
'Tamanho Estabelecimento',
'Tipo Estab',
'IBGE Subsetor',
'Idade',
'Nacionalidade',
'Ind Portador Defic',
'Faixa Etária',
'Ind Trab Intermitente',
'Ind Trab Parcial',
'Tipo Admissão']

In [43]:
df_rais_vinculos.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48728871 entries, 0 to 8722448
Data columns (total 24 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Unnamed: 0               int64
 1   Município                int64
 2   IBGE Subsetor            int64
 3   Nacionalidade            int64
 4   Raça Cor                 int64
 5   Sexo Trabalhador         int64
 6   Idade                    object
 7   Faixa Etária             int64
 8   Escolaridade após 2005   uint8
 9   Ind Portador Defic       int64
 10  Vínculo Ativo 31/12      uint8
 11  CBO Ocupação 2002        object
 12  CNAE 2.0 Classe          int64
 13  CNAE 2.0 Subclasse       int64
 14  Natureza Jurídica        int64
 15  Tamanho Estabelecimento  int64
 16  Tipo Estab               int64
 17  Faixa Remun Média (SM)   uint8
 18  Tipo Admissão            int64
 19  Tipo Vínculo             int64
 20  Ind Trab Intermitente    int64
 21  Ind Trab Parcial         int64
 22  Vl Remun Média Nom       float64
 23  Vl Remun Média (SM)      float64
dtypes: float64(2), int64(17), object(2), uint8(3)
memory usage: 14.8 GB

In [14]:
df_rais_vinculos.head()

,Unnamed: 0,Município,IBGE Subsetor,Nacionalidade,Raça Cor,Sexo Trabalhador,Idade,Faixa Etária,Escolaridade após 2005,Ind Portador Defic,Vínculo Ativo 31/12,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 2.0 Subclasse,Natureza Jurídica,Tamanho Estabelecimento,Tipo Estab,Faixa Remun Média (SM),Tipo Admissão,Tipo Vínculo,Ind Trab Intermitente,Ind Trab Parcial,Vl Remun Média Nom,Vl Remun Média (SM)
0,354077,500270,16,10,9,1,33,5,1,0,1,314410,47890,4789007,2305,2,1,3,0,10,0,0,1685.66,1.52
1,354078,500370,16,10,9,1,48,6,1,0,1,715210,47890,4789005,2135,2,1,2,2,10,0,0,1628.00,1.48
2,354079,500630,19,10,2,1,32,5,1,0,1,642005,2306,230600,2054,8,1,3,0,10,0,0,1786.83,1.61
3,354080,500270,16,10,9,1,55,7,1,0,1,514320,47113,4711302,2305,3,1,2,1,10,0,0,1453.91,1.31
4,354081,500630,19,10,2,1,42,6,1,0,1,632125,2306,230600,2054,8,1,2,2,10,0,0,1199.68,1.08

In [45]:
df_rais_vinculos.head()

NameError: name 'df_rais_vinculos' is not defined